.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 16px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    input {
      width: 50%;
      height: 40px;
      font-size: 16px;
      padding: 0px 20px;
      border-radius: 20px;
      border: 1px solid #555;

      &:focus {
        outline: none;
      }
    }

    div {
      width: 100px;
      height: 40px;
      border-radius: 20px;
      font-size: 16px;
      line-height: 40px;
      font-weight: 600;
      text-align: center;
      color: #03a9f4;
      align-items: center;
      border: 1px solid #03a9f4;
      cursor: pointer;

      .icon {
        font-size: 16px;
      }

      &:focus {
        outline: none;
      }
      &:active {
        background-color: #03a9f4;
        color: #fff;
      }
    }
  }

  table {
    border-collapse: collapse;
  }

  .header {
    background: #03a9f4;
  }

  th {
    height: 40px;
    padding: 10px 10px;
    color: #fff;
  }

  td {
    padding: 10px 10px;
  }
  table,
  th,
  td {
    border: 1px solid #ddd;
    text-align: center;
  }
}
